<html>
<head>
    <title>About-Us</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>  
</head>
<body>
    
    <div id="container">
        <div id="header">
            <div id ="title">
                <a href="#">
                    ~ Groupie Tracker ~
                    <div id='w'>
              </div>
            </a>
                <div class="main"></div>
            </div>
        </div>

        <div id="navBar">
            <table>
                <tr>
                <td><a href="home.html">Home</a></td>
                <td><a href="index.html">Artists</a></td>
                <td><a href="aboutus.html">About Us</a></td>
                </tr>
            </table>
        </div>
        
        <div id="content">
                <div id="aboutus"></div>
                <p>Groupie Trackers is a website dedicated to showcasing information about various bands. The data is obtained through an API and presented in a user-friendly manner. 
                    Our site has been thoughtfully designed to ensure that users can easily access and navigate the band information they are interested in. The development of this 
                    website was carried out by BYqb and niga "/ . 
                </p>
        </div>

        <div id="footer">Created By:<br>&nbsp;BYqb,  &nbsp;&nbsp;Niga</div>
    </div>
</body>
<html>